#indi{

    position: relative;
    float:left;
    z-index:40;
    bottom:-300px;
    left:50px;
}
.cap{
margin-left:10px;
}
@media only screen and (min-width:768px){

.cap{

    right:-40% !important;

}



}

@media only screen and (max-width:414px){

#indi{

bottom:-410px;
left:30px;
}



}